<header class= "navbar navbar-fixed-top navbar">
      <div class= "navbar-inner">
      	<div class="container">
      		<%= link_to "STAMFORD HOLIDAY", root_path, id: "logo" %>
      		  <nav>
      		  	<ul class= "nav pull-right">
                  <li><%= link_to "Home", root_path %></li>
                  <li><%= link_to "Info", info_path %></li>
                  <li><%= link_to "Pictures", pictures_path %></li>
                  <li><%= link_to "Contact", contact_path %></li>
      		  	</ul>
      		  </nav>
      	</div>
      </div> 
	</header>